/* Estilos para el contenedor del navbar */
.navbar {
    background-color: #4b6b47;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #f0f0f0;
}

/* Centrando el título */
.navbar .title {
    background-color: #6b8f71;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    flex-grow: 1;
}

.navbar h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #f0f0f0;
}

.title:hover {
    background-color: #4caf50;
    transform: scale(1.05);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

/* Estilos para el ícono de usuario */
.user-icon {
    background: none;
    border: none;
    color: #f0f0f0;
    cursor: pointer;
    padding: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease, transform 0.3s ease;
}

/* Estilo del ícono al pasar el cursor (hover) */
.user-icon:hover {
    color: #cfd4cb;
    transform: scale(1.3);
}

/* Menú desplegable */
.dropdown {
    position: absolute;
    background-color: #4b6b47;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    top: 4rem;
    right: 0;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.user-icon:focus + .dropdown,
.dropdown:hover {
    display: flex;
    transform: scale(1);
    opacity: 1;
}

/* Estilos de los botones "Añadir Bitácora" y "Cerrar Sesión" */
.btn-add-bitacora,
.btn-logout {
    width: 100%;
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-add-bitacora {
    background-color: #4caf50;
    color: #ffffff;
}

.btn-add-bitacora:hover {
    background-color: #388e3c;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.btn-logout {
    background-color: #f44336;
    color: #ffffff;
}

.btn-logout:hover {
    background-color: #d32f2f;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}
