/* Contenedor principal del formulario */
.login-container {
  display: flex;
 
  align-items: center;
  justify-content: center;
  background-color: #e0f7e9; /* Tono verde claro de fondo */
  padding: 10px; /* Añadido padding para asegurar que el contenido no se salga */
}

/* Caja de login */
.login-box {
  background-color: #32ac56; /* Verde oscuro de fondo */
  max-width: 600px;
  width: 100%;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #ffffff;
  box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
}

/* Título */
.login-box h1 {
  font-size: 2.5rem;
  color: #ffffff; /* Blanco para el título */
  font-weight: bold;
  margin-bottom: 1.5rem;
}

/* Input */
.login-input {
  width: 100%;
  background-color: #ffffff; /* Fondo más claro para las cajas de input */
  color: #09ff0010; /* Verde oscuro para el texto de los inputs */
  padding: 0.6rem 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  border: 1px solid #000000; /* Verde para el borde */
  outline: none;
  box-sizing: border-box;
}

/* Placeholder del input */
.login-input::placeholder {
  color: #000000; /* Verde claro para el texto del placeholder */
}

/* Botón de Login */
.login-button {
  width: 100%;
  background-color: #4caf50; /* Verde vibrante para el botón */
  color: #ffffff;
  padding: 0.7rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
}

.login-button:hover {
  background-color: #388e3c; /* Tono verde más oscuro en hover */
}

/* Mensajes de error */
.error-message {
  color: #e57373; /* Rojo claro */
  font-size: 0.9rem;
  margin-top: -0.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

/* Mensajes de error de inicio de sesión */
.login-error {
  background-color: #e57373; /* Fondo rojo para errores */
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Enlace de registro */
.register-link {
  color: #81c784; /* Verde claro */
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.register-link:hover {
  color: #4caf50; /* Verde más oscuro en hover */
  text-decoration: underline;
}
